<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="jumbotron">
    <h1> HomePage</h1>

    <%= link_to "About", about_path ,class: "btn btn-primary btn-lg btn-xlarge"%>
    <%= link_to "Contact", contact_path ,class: "btn btn-primary btn-lg" %>
    <%= link_to "List users", users_path ,class: "btn btn-primary btn-lg" %>
    <%= link_to "List products", products_path ,class: "btn btn-primary btn-lg" %>

</div>

</body>
</html>