<div class="container-fluid">
	<footer class="footer">
		<small>
			Coppyright &copy; <a href="#">ARYSTORE</a>
			by <a href="#">quoctienphamm</a>
		</small>
		<nav>
			<ul style="list-style-type: none">
				<li>
				 <%= link_to "about",about_path  %>
				</li>
			</ul>
		</nav>
	</footer>
</div>